html,
body{
    margin: 0;
    background-color: #4a99f3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.mainScreen{
    position: absolute;
    top: 50px;
    left: 100px;
    height: 700px;
    width: 550px;
    margin: 0px;
    background-color: #f34a53;
    border-radius: 25px;
    border:2px solid;
    box-shadow: 2px 10px 25px rgba( 0,0,0, 0.4);
}
.mainScreenTopBar{
    position: relative;
    height: 100px;
    width: 100%;
    margin: 0px;
    background-color: #fc1e29;
    border-radius: 25px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.hinge{
    position: relative;
    top: 50px;
    left: 625px;
    height: 700px;
    width: 50px;
    margin: 0px;
    background-color: #f1121d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items:center;
    margin: 0;
    border:2px solid;
    border-radius: 10px;
}
.hingeSquare{
    height: 100px;
    width: 50px;
    margin: 0px;
    background-color: #f8303a;
    box-shadow: 0px 0px 1px 1px #000000;
}
.rightScreen{
    position: absolute;
    top: 150px;
    left: 650px;
    height: 600px;
    width: 550px;
    margin: 0px;
    background-color: #f34a53;
    border-radius: 25px;
    border:2px solid;
    box-shadow: 2px 10px 25px rgba( 0,0,0, 0.4);
}
.TopBarButton1{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 75px;
    width: 75px;
    margin: 0px;
    background-color: #535353;
    border-radius: 75px;
    border:3px solid rgb(196, 196, 196);
}
.TopBarButton2{
    position: relative;
    top: 10px;
    left: 100px;
    height: 30px;
    width: 30px;
    margin: 0px;
    border-radius: 30px;
    border:3px solid rgb(196, 196, 196);
    background-color: #ff2525;
}
.TopBarButton3{
    position: relative;
    top: 10px;
    left: 100px;
    height: 30px;
    width: 30px;
    margin: 0px;
    border-radius: 30px;
    border:3px solid rgb(196, 196, 196);
    background-color: #fffb25;
}
.TopBarButton4{
    position: relative;
    top: 10px;
    left: 100px;
    height: 30px;
    width: 30px;
    margin: 0px;
    border-radius: 30px;
    border:3px solid rgb(196, 196, 196);
    background-color: #2cff25;
}
.PokemonScreen{
    position: relative;
    left: 50px;
    top: 50px;
    height: 300px;
    width: 425px;
    margin: 0px;
    background-color: #747474;
    border-radius: 25px;


}
.PokemonScreenIMG{
    position: relative;
    top: 25px;
    left: 25px;
    background-color: white;
    height: 250px;
    width: 375px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 25px;
}
.searchBar{
    position: absolute;
    top: 500px;
    left: 50px;
    background-color: #f1121d;
    height: 75px;
    width: 425px;
    display: flex;
    gap: 20PX;
    align-items:center;
    border-radius: 25px;
}
.button{
    width: 150px;
    height: 30px;
    background-color: #283eb8;
    border-radius: 5px;
}
.textsearch{
    width: 200px;
    height: 25px;
    background-color: #63ff44;
    border-radius: 5px;
}

.infoScreen{
    position: relative;
    left: 75px;
    top: 50px;
    height: 250px;
    width: 425px;
    margin: 0px;
    background-color: #747474;
    border-radius: 25px;
    display: flex;
    align-items:center;
    justify-content: center;
}
.greenscreen{
    position: relative;
    left: 0px;
    top: 0px;
    height: 225px;
    width: 400px;
    margin: 0px;
    background-color: #63ff44;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items:center;
    justify-content: center;
}

.sepBar{
    height: 5px;
    width: 350px;
    margin: 0px;
    background-color: #adadad;
    border-radius: 25px;
}
.infotext{

    color: #adadad;
    border-radius: 5px;
}
img{
    object-fit:contain;
    height: 100%;
    width: 100%;
}

.abilityScreen{
    position: relative;
    left: 75px;
    top: 75px;
    height: 225px;
    width: 250px;
    margin: 0px;
    background-color: #747474;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items:center;
    justify-content: center;
}

.abilityGScreen{
    position: relative;
    left: 0px;
    top: 0px;
    height: 200px;
    width: 225px;
    margin: 0px;
    background-color: #63ff44;
    border-radius: 25px;
    display:flex;
    flex-direction: column;
    gap: 10px;
    align-items:center;
    justify-content: center;
}